@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<script src="~/Scripts/bootstrap.js"></script>



<style>
    .blog {
        background: #f9f9f9;
    }

    .blog-item {
        padding: 0px -10px;
        margin: 10px 0px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 380px;
        max-height: 380px;
        background-color: white;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin: 10px 5px;
        box-shadow: 0px 0px 4px 0px #888888;
    }

    }

    .blog-content {
    }

    .blog-img {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

        .blog-img img {
            height: 200px;
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }

        .blog-img::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
        }

        .blog-img img {
            transition: all 0.5s ease;
        }

        .blog-img:hover img {
            transform: scale(1.1);
        }

        .blog-img .span_views {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            font-size: 15px;
            padding: 4px 13px;
            border-radius: 12%;
            z-index: 3;
            background-color: rgba(0,0,0,0.65);
        }

        .blog-img .blog-category {
            position: absolute;
            bottom: 20px;
            left: 20px;
            padding: 4px 5px;
            z-index: 3;
            background-color: #dc3545;
        }

        .blog-img .save-blog {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 26px;
            z-index: 3;
        }

    .save-blog #btn-save-blog {
        transition: all ease 0.5s;
    }

        .save-blog #btn-save-blog.active {
            color: #dc3545;
        }

        .save-blog #btn-save-blog:hover {
            color: #dc3545;
            transform: scale(1.1);
        }

        .save-blog #btn-save-blog.active:hover {
            color: black;
            transform: scale(1.1);
        }

    .blog .blog-interaction {
        height: 40px;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
    }

        .blog .blog-interaction .editor-img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
        }

        .blog .blog-interaction .editor-data {
            display: flex;
            font-family: ui-monospace;
        }

        .blog .blog-interaction .editor-name {
            font-size: 18px;
            font-weight: bold;
            padding: 2px 8px;
            font-family: ui-monospace;
        }

    .blog .reactions {
        font-size: 21px;
        padding: 0px;
    }

        .blog .reactions span {
            padding: 2px;
        }

    .blog-text {
        /*margin: 5px 0px;*/
        padding: 5px 10px 5px;
        font-size: 20px;
    }

        .blog-text span {
            font-weight: 300;
            display: block;
            padding-bottom: 0.5rem;
        }

        .blog-text h2 {
            font-family: "Gill Sans", sans-serif;
            padding: 5px 0px 15px 0px;
            font-size: 25px;
            font-weight: bold;
        }

        .blog-text p {
            font-weight: 300;
            opacity: 0.9;
            padding-bottom: 1.2rem;
        }

        .blog-text .blog-body {
            font-size: 20px;
        }

    .text-date {
        padding: 10px;
        margin: 10px 5px;
        font-size: 12px;
    }

    .blog-text a {
        font-size: 1.1rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease;
    }

    .reactions #likebtn, .reactions #dislikebtn {
        transition: all 0.5s ease;
    }

        .reactions #likebtn.active, .reactions #dislikebtn.active {
            color: #dc3545;
        }

        .reactions #likebtn:hover, .reactions #dislikebtn:hover {
            transform: scale(1.3);
            color: #dc3545;
        }

        .reactions #likebtn.active:hover, .reactions #dislikebtn.active:hover {
            transform: scale(1.3);
            color: black;
        }

    @@media (min-width: 992px) {
        .col-md-4 {
            width: 32%;
        }
    }

    .search-part input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
        max-width: 100%;
        outline: none;
    }

    .search-part button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        .search-part button:hover {
            background: #0b7dda;
        }

    .search-part::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="search-part" style="width:99%; margin:20px 0px; padding:5px;">
    <input type="text" placeholder="Search.." id="input-search" name="search">
    <button id="search-btn"><i class="fa fa-search"></i></button>
</div>

<div class="alert alert-danger" style="display:none; width:99%" id="notfound" role="alert">
    There is no Posts contains this Data!
</div>

<section class="blog" style="background-color:white">
    <div class="container">
        <div class="row">
            <div class="allposts">

            </div>
        </div>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>

        var input = document.getElementById('input-search')
        var sectionofposts = document.querySelector('.blog .container .row .allposts');
        //var searchbtn = document.getElementById('search-btn')
        var notfound = document.getElementById('notfound');


        function loaddata(){
            $.ajax({
                type: "GET",
                url: "/Home/Index2/",

                success: function (response) {

                    if (response != 'false'){
                        console.log(response)
                        console.log(response['posts'][0])
                        sectionofposts.innerHTML = '';
                        for(var i =0; i<response['posts'].length; i++){
                            sectionofposts.innerHTML += showProducts(response['posts'][i])
                        }
                    }

                }
            });
        }

        $(document).ready(function() {
            loaddata();
        })



        input.oninput = function () {
            if (this.value.trim() ==''){
                loaddata();
            }
            if (this.value.trim() != '') {
                var v = this.value.toLowerCase().trim();

                $.ajax({
                    type: "Post",
                    url: "/Home/Filter/",
                    data: { input : v },
                    success: function (response) {
                        //alert(response)
                        if (response != 'false'){
                            notfound.style.display ="none";
                            sectionofposts.innerHTML = '';
                            for(var i =0; i<response['posts'].length; i++){
                                sectionofposts.innerHTML += showProducts(response['posts'][i])
                            }
                        }else{
                            sectionofposts.innerHTML = '';
                            notfound.style.display ="block";
                        }

                    }
                })
            }


        };

        function showProducts(item) {
            return `
            <div class="col-md-4 blog-item card">

        <div class="blog-img">
            <img src="/Content/Posts Images/${item.ImagePath}" alt="">
           @* <span class="span_views"><i class="fas fa-eye" style="margin-right:5px;"></i><span id="numberofviews">@Model.interactedposts.Where(e => e.PostId == post.Id).Count()</span> </span>*@
            <span class="badge blog-category">
                ${item.PostType}
            </span>
            @*<span class="save-blog"><i id="btn-save-blog" class="fas fa-bookmark"></i></span>*@
        </div>
        <div class="blog-interaction">
            <div class="editor-data">
                <img class="editor-img" src="/Content/Persons Images/${item.User.PhotoPath}" />
                <a href="/Account/Profile/${item.User.Id}" style="text-decoration:none; color:black;"><p class="editor-name">${item.User.FirstName} ${item.User.LastName}</p></a>
            </div>

        </div>
        <span class="text-date"><i class="fas fa-clock"></i>  ${new Date(parseInt(item.PostDate.substr(6))).toLocaleString()}</span>
        <div class="blog-text">
            <a href="/Post/Details/${item.Id}"><p class="blog-text">${item.PostTitle}</p></a>

        </div>
    </div>



		`;

        }

    </script>
}

